@import '../../styles/helpers';

.pagination {
  display: flex;
  color: var(--color-text-inverted);

  @extend %listreset;
  li {
    &.selected {
      a {
        background-color: var(--color-primary);
        color: var(--color-bg-main);
      }
    }
  }

  a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 32px;
    min-height: 32px;
    cursor: pointer;
    font-size: var(--font-size-small);
    transition: color var(--transition), background-color var(--transition);

    &:hover,
    &:focus {
      background-color: var(--color-primary);
      color: var(--color-bg-main);
    }

    &:focus {
      outline-color: transparent;
    }
  }
}