.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 28px;
  padding-bottom: 24px;
  gap: 20px;

  &__copyright {
    font-size: 1.8rem;
    color: var(--color-title);
  }
}