.btn {
  background-color: var(--color-primary);
  color: var(--color-bg-main);
  font-family: var(--text-bold);
  font-weight: 600;
  border: none;
  padding: 12px;
  cursor: pointer;
  transition: background-color var(--transition );
  outline-offset: var(--interface-size);

  &:hover,
  &:focus    {
    background-color: var(--color-primary-hover);
  }
}