:root {
  --color-primary: #FCD54C;
  --color-bg-main: #272727;
  --color-text-main: #929292;

  // text
  --text-bold: 'Montserrat', sans-serif;
  --text-main: 'Work Sans', sans-serif;
  --font-size-main: 1.6rem;
  --line-height-main: 1.625;
}