@import '../../../styles/helpers';

.contact-form {
  &__form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @include media('<tablet') {
      grid-template-columns: 1fr;
    }
  }

  &__message {
    grid-column: 1 / 4;
    @include media('<tablet') {
      grid-column: auto;
    }
  }
}