@import '../../styles/helpers';

.articles-section {
  padding-top: 66px;
  &__header {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    margin-bottom: 65px;
    gap: 20px;
    @include media('<phone') {
      grid-template-columns: 1fr;
    }
  }

  &__title {
    margin-bottom: 0;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1190px;
    margin: auto;
    gap: 30px;
    margin-bottom: 30px;

    @include media('<widescreen') {
      grid-template-columns: 1fr 1fr;
    }

    @include media('<tablet') {
      grid-template-columns: 1fr;
    } 
  }

  &__footer {
    display: flex;
    justify-content: center;
  }
}