@import '../../../styles/helpers';

.image-text-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 70px;
  font-size: 1.8rem;

  @include media('<desktop') {
    gap: 40px;
    font-size: 1.4rem;
  }

  @include media('<phone') {
    gap: 30px;
  }

  &__img {
    max-height: 312px;
  }

  p {
    line-height: 1.64;
  }
}