@import '../../styles/helpers';

.carousel-section {
  &__title {
    margin-bottom: 65px;
    @include media('<desktop') {
      margin-bottom: 30px;
    }
  }

  @extend %slicktrack;

  .slick-list {
    margin-left: -14px;
    margin-right: -14px;
    @include media('<phone') {
      margin-left: -8px;
      margin-right: -8px;
    }
  }

  @extend %slickdots;
}